* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.needsclick {
    cursor: pointer;
}

.button__default {
    background-color: #60FF6A;
    padding: 10px;
    color: #381F25;
    display: inline-block;
    font-size: 12px;
}

.overlay {
    background-color: rgba(0,0,0,.35);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.hidden {
    display: none;
}

.wrap {
    padding: 10px 10px;
}

.side {
    float: left;
    width: 30%;
}

.studentlist {
    list-style:none;
    padding: 0px;
    border: 1px solid #381F25;
    margin-bottom: 10px;
}

.studentadd {
}

.modal {
    background: #fff;
    position: fixed;
    margin: 0 auto;
    padding: 35px;
    max-width: 1000px;
    left: 50%;
    top: 50%;
    width: 85%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.modal__close {
    position:absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.modal__confirm {
    display: inline-block;
}
