* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.needsclick {
    cursor: pointer;
}

.fielderror{
    background-color: rgba(255, 0, 0, 0.2);
}

.button__default {
    background-color: rgba(96, 255, 106, 0.3);
    padding: 10px;
    color: #381F25;
    display: inline-block;
    font-size: 12px;
}

.overlay {
    background-color: rgba(0,0,0,.35);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.hidden {
    display: none;
}

.wrap {
    padding: 10px 10px;
}

.side {
    float: left;
    width: 24%;
    margin-right: 10px;
}

.defaultlist {
    list-style:none;
    padding: 0px;
    border: 1px solid #381F25;
    padding: 5px;
    margin-bottom: 10px;
}

.defaultlist-elem {
    border-bottom: 1px solid #e4e4e4;
    padding: 5px 0 5px 5px;
    margin: 2px 0;
}

.defaultlist-elem:last-child {
    border-bottom: 0px;
}

form>div{
    margin: 10px 0;
}

form label {
    display: inline-block;
    padding: 0 5px 5px 0;
}

.modal {
    background: #fff;
    position: fixed;
    margin: 0 auto;
    padding: 35px;
    max-width: 1000px;
    left: 50%;
    top: 50%;
    width: 85%;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.modal__body__fields {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.modal__close {
    position:absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.modal__message {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    background-color: rgba(96, 255, 106, 0.2);
    border-radius: 15px;
}

.modal__message__error {
    background-color: rgba(255, 0, 0, 0.2);
}

.modal__confirm {
    display: inline-block;
}
